body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }
    
    a{
        color: #fff;
        text-decoration: none;
    }

    a:hover{
        color: #777777;
        transition: color 0.3s ease;
    }

    #TituloPrincipal{
        font-size: 35px;
    }

.espacio{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    }


#autos-disponibles h2{
    text-align: center;
    padding: 10px;
}

    .autos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }

.auto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 70px;
    height: 50px;
    text-align: center;
    margin-right: 100px;
    }

img{
    width: 70px;
    height: 50px;
    }

#formulario-contacto{
    margin-top: 200px;
}

#formulario-contacto h2{
    text-align: center;
    padding: 10px;
}



\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

form{
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    }

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    }

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }

form input[type="submit"]:hover {
    background-color: #555;
        }