body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #777777;
    transition: color 0.3s ease;
}

#TituloPrincipal {
    font-size: 35px;
}

.espacio {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

#autos-disponibles h2 {
    text-align: center;
    padding: 10px;
    justify-content: center;
}

.autos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auto {
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    width: 50%;
}

#formulario-contacto {
    margin-top: 200px;
}

#formulario-contacto h2 {
    text-align: center;
    padding: 10px;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    border-top: #555 10px solid;
    justify-content: space-around;
}

.info{
    list-style: none;
    padding: 0%;
    margin: 10px;
}

ul li{
    margin: 15px;
}

.logo{
    width: 35px;
    height: 35px;
}

figure{
    margin: 0%;
}


